<div style="background: url(style/img/carousel/{{currentImage.image}}) no-repeat;" class="carousel">
	<button ng-click="previous()" class="next-previous previous"></button>
	<div class="middle">
		<div class="caption">{{currentImage.caption}}</div>
		<div class="items">
			<button ng-repeat="img in images" ng-click="set(img)" class="item"></button>
		</div>
	</div>
	<button ng-click="next()" class="next-previous next"></button>
</div>
