<!-- Références vers les pages de style et de script -->
<link rel="stylesheet" type="text/css" href="style/formulaireActivite.css">

<form id="formAct" method="post" action="ServletVoyage?op=nouvelleActivite" ng-controller="formulaireActiviteController">

	<h3> Ajout d'une nouvelle activité </h3>

	<!-- PREMIERE SAISIE : CATEGORIE -->
	<div class="tab">
	<h4> Catégorie </h4>
		<p> <select ng-model="categorie" ng-change="changerCategorie(categorie)" name="categorie" onclick="this.className = ''">
				<option value=''> Choisir une catégorie ... </option>
				<option value="activite"> Activité </option>
				<option value="hebergement"> Hébergement </option>
				<option value="transport"> Transport </option>
			</select> 
		</p>
		<p> <select ng-model="subcategorie" name="subCategorie" ng-change="changerSubCategorie(subcategorie)" onclick="this.className = ''">
				<option value=''> Affiner le choix ... </option>
				<!-- Sorties -->
				<option value="culture" ng-show="categorie === 'activite'"> Sortie culturelle </option>
				<option value="sport" ng-show="categorie === 'activite'"> Sortie sportive </option>
				<option value="autre-sortie" ng-show="categorie === 'activite'"> Autre </option>
				<!-- Hébergements -->
				<option value="hotel" ng-show="categorie === 'hebergement'"> Hôtel </option>
				<option value="airbnb" ng-show="categorie === 'hebergement'"> AirBnB </option>
				<option value="camping" ng-show="categorie === 'hebergement'"> Camping </option>
				<option value="auberge-jeunesse" ng-show="categorie === 'hebergement'"> Auberge de jeunesse </option>
				<option value="chambre-hote" ng-show="categorie === 'hebergement'"> Chambre d'hôte </option>
				<!-- Transports -->
				<option value="vol" ng-show="categorie === 'transport'"> Avion </option>
				<option value="bus" ng-show="categorie === 'transport'"> Bus </option>
				<option value="train" ng-show="categorie === 'transport'"> Train </option>
				<option value="ferry" ng-show="categorie === 'transport'"> Ferry </option>
				<option value="voiture" ng-show="categorie === 'transport'"> Voiture </option>
				<option value="metro" ng-show="categorie === 'transport'"> Métro </option>
				<option value="taxi" ng-show="categorie === 'transport'"> Taxi </option>
				<option value="covoiturage" ng-show="categorie === 'transport'"> Covoiturage </option>
				<option value="pieds" ng-show="categorie === 'transport'"> Marche à pieds </option>
			</select>
		</p>
	</div>
	
	<!-- DEUXIEME SAISIE : INFOS RESERV -->
	<div class="tab" ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'"> 
	
		<!-- Recherche de Vol -->
		<p ng-show="subCategorie === 'vol'">
			Numéro de vol <input type="text" name="rechercheVol" ng-model="flightIdent" autocomplete="off"> 
			<button type="button" ng-click="getFlightInfo(flightIdent)">Compléter</button>
			<br/>
				
		Flight Found : {{flightFound}}<br>
		Ville de départ : {{flight.origin.city}}<br>
		Ville d'arrivée : {{flight.destination.city}}<br/>
		!Date de départ : {{flight.estimated_departure_time.date}}<br>
		Heure de départ : {{flight.estimated_departure_time.time}}<br>
		Date d'arrivée : {{flight.estimated_arrival_time.date}}<br>
		Heure d'arrive : {{flight.estimated_arrival_time.time}}<br>
		
		<button type="button" ng-show="flightFound" ng-click="findAirport(flight.origin.city, flight.destination.city)">OK</button><br/>
		Aéroport de départ : {{activiteLieuDebut}} ({{activiteLatitude}}, {{activiteLongitude}})<br>
		
		Aéroport d'arrivée : {{activiteLieuFin}} ({{activiteLatitudeFin}}, {{activiteLongitudeFin}})

		</p>
	
		<h4> Informations de réservations : </h4>
		<!-- Coût -->
		<p	ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">
			Coût
			<input type="number" name="prix" oninput="this.className = ''">
		</p>
		<!-- Numéro de réservation -->
		<p ng-show="categorie === 'hebergement' || categorie === 'transport'">
			Numéro de réservation
			<input type="text" name="numReservation" placeholder="Numéro ..." oninput="this.className = ''">
		</p>
		<!-- Numéro de transport -->
		<p ng-show="subCategorie === 'metro' || subCategorie === 'train' || subCategorie === 'bus' || subCategorie === 'vol'">
			Numéro de
			<label ng-if="subCategorie === 'metro'"> métro </label>
			<label ng-if="subCategorie === 'train'"> train </label>
			<label ng-if="subCategorie === 'bus'"> bus </label>
			<label ng-if="subCategorie === 'vol'"> vol </label>
			<input type="text" name="numeroTransport" ng-model="numeroTransport" placeholder="Numéro ..." oninput="this.className = ''">
		</p>
		<!-- Numéro de place -->
		<p ng-show="subCategorie === 'train' || subCategorie === 'bus' || subCategorie === 'vol'">
			Numéro de place
			<input type="text" name="numeroPlace" placeholder="Numéro ..." oninput="this.className = ''">
		</p>
		<!-- Compagnie de transport -->
		<p ng-show="subCategorie === 'train' || subCategorie === 'bus' || subCategorie === 'vol'">
			Compagnie 
			<label ng-if="subCategorie === 'train'"> ferroviaire </label>
			<label ng-if="subCategorie === 'bus'"> de bus </label>
			<label ng-if="subCategorie === 'vol'"> aérienne </label>
			<input type="text" name="compagnieTransport" ng-model="compagnieTransport" placeholder="Compagnie ..." oninput="this.className = ''">
		</p>
	</div>

	<!-- TROISIEME SAISIE : DEBUT ACTIVITE -->
	<div class="tab" ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">
	<h4> Début : </h4>
		<p> Date
			<label ng-if="categorie === 'activite'"> de début </label>
			<label ng-if="categorie === 'hebergement'"> d'arrivée </label>
			<label ng-if="categorie === 'transport'"> de départ </label>
			<input type="date" name="dateDebut" ng-model="dateDebut" oninput="this.className = ''">
		<p>
		<p> Heure
			<label ng-if="categorie === 'activite'"> de début </label>
			<label ng-if="categorie === 'hebergement'"> d'arrivée </label>
			<label ng-if="categorie === 'transport'"> de départ </label>
			<input type="time" name="heureDebut" ng-model="heureDebut" oninput="this.className = ''">
		</p> 
		<p> Lieu
			<label ng-if="categorie === 'activite'"> de début </label>
			<label ng-if="categorie === 'hebergement'"> d'arrivée </label>
			<label ng-if="categorie === 'transport'"> de départ </label>
			<input type="text" ng-model="lieu" ng-model-options="{debounce: 500}" ng-change="findLieu(lieu)" autocomplete="off">
			<div id="input-suggestions" ng-show="showResults">
				<div ng-repeat="r in googleResults | limitTo:10" ng-click="setInfo(r)" class="input-suggestion">
					{{r.rating}} - {{r.name}}, {{r.formatted_address}}
				</div>
			</div>
	</div>

	<!-- QUATRIEME SAISIE : ARRIVEE -->
	<div class="tab" ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'"> 
		<h4> Fin : </h4>
		<p> Date 
			<label ng-if="categorie === 'activite'"> de fin </label>
			<label ng-if="categorie === 'hebergement'"> de départ </label>
			<label ng-if="categorie === 'transport'"> d'arrivée </label>
			<input type="date" name="dateFin" oninput="this.className = ''">
		</p>
		<p> Heure
			<label ng-if="categorie === 'activite'"> de fin </label>
			<label ng-if="categorie === 'hebergement'"> de départ </label>
			<label ng-if="categorie === 'transport'"> d'arrivée </label>
			<input type="time" name="heureFin" ng-model="heureFin" oninput="this.className = ''">
		</p>
		<p> Lieu 
			<label ng-if="categorie === 'activite'"> de fin </label>
			<label ng-if="categorie === 'hebergement'"> de départ </label>
			<label ng-if="categorie === 'transport'"> d'arrivée </label>
			<input type="text" name="lieuFin" value="{{activiteLieuFin}}" oninput="this.className = ''">
		</p>
	</div>
 
	<div class="tab" ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">
		<input type="hidden" name="lieuDebut" value="{{activiteLieuDebut}}">
		<input type="hidden" name="adresse" value="{{activiteAdresse}}">
		<input type="hidden" name="numTelephone" value="{{activiteTelephone}}">
		<input type="hidden" name="latitudeLieu" value="{{activiteLatitude}}">
		<input type="hidden" name="lienInternet" value="{{activiteInternet}}">
		<input type="hidden" name="longitudeLieu" value="{{activiteLongitude}}">
		<input type="hidden" name="latitudeFin" value="{{activiteLatitudeFin}}">
		<input type="hidden" name="longitudeFin" value="{{activiteLongitudeFin}}">
	  	<input type="hidden" name="idvoyage" value="{{voyage.id}}">
		<input type="submit" class="ajout" value="Ajouter au voyage">
	</div>
	
	<div style="overflow:auto;">
	  <div style="float:right;">
	    <button type="button" id="prev" ng-click="avancer(-1)"> Revenir </button>
	    <button type="button" id="next" ng-click="avancer(1)"> Suivant </button>
	  </div>
	</div>

	<!-- Circles which indicates the steps of the form: -->
	<div style="text-align:center;margin-top:40px;">
	  <span class="step"> </span>
	  <span class="step"> </span>
	  <span class="step"> </span>
	  <span class="step"> </span>
	</div>

</form> 