<form method="post" action="ServletVoyage?op=nouvelleActivite">	

	<table class="form">

		<!-- CATEGORIE DE L'ACTIVITE -->
		<tr> 
			<th> <label> Catégorie </label> </th>
			<th> <select ng-model="categorie" ng-change="changerCategorie(categorie)" name="categorie">
					<option value="activite"> Activité </option>
					<option value="hebergement"> Hébergement </option>
					<option value="transport"> Transport </option>
				</select>
			</th>
		</tr>

		<!-- SOUS-CATEGORIE DE L'ACTIVITE -->
		<tr>
			<th> <label> Sous-catégorie </label> </th>
			<th> <select ng-model="subcategorie" name="subCategorie" ng-change="changerSubCategorie(subcategorie)">
					<!-- Sorties -->
					<option value="culture" ng-show="categorie === 'activite'"> Sortie culturelle </option>
					<option value="sport" ng-show="categorie === 'activite'"> Sortie sportive </option>
					<option value="autre-sortie" ng-show="categorie === 'activite'"> Autre </option>
					<!-- Hébergements -->
					<option value="hotel" ng-show="categorie === 'hebergement'"> Hôtel </option>
					<option value="airbnb" ng-show="categorie === 'hebergement'"> AirBnB </option>
					<option value="camping" ng-show="categorie === 'hebergement'"> Camping </option>
					<option value="auberge-jeunesse" ng-show="categorie === 'hebergement'"> Auberge de jeunesse </option>
					<option value="chambre-hote" ng-show="categorie === 'hebergement'"> Chambre d'hôte </option>
					<!-- Transports -->
					<option value="vol" ng-show="categorie === 'transport'"> Avion </option>
					<option value="bus" ng-show="categorie === 'transport'"> Bus </option>
					<option value="train" ng-show="categorie === 'transport'"> Train </option>
					<option value="ferry" ng-show="categorie === 'transport'"> Ferry </option>
					<option value="voiture" ng-show="categorie === 'transport'"> Voiture </option>
					<option value="metro" ng-show="categorie === 'transport'"> Métro </option>
					<option value="taxi" ng-show="categorie === 'transport'"> Taxi </option>
					<option value="covoiturage" ng-show="categorie === 'transport'"> Covoiturage </option>
					<option value="pieds" ng-show="categorie === 'transport'"> Marche à pieds </option>
				</select>
			</th>
		</tr>

		<!-- CORPS DU FORMULAIRE -->

		<!-- Attribut nom (pour hébergement et transport on remplit nous même) -->
		<tr ng-show="categorie === 'activite'">
			<th> Nom </th>
			<th> <input type="text" name="nom"> </th>
		</tr>

		<!-- Attribut description (même remarque) -->
		<tr ng-show="categorie === 'activite'">
			<th> Description </th>
			<th> <textarea type="text" name="description"> </textarea> </th>
		</tr>

		<!-- Attribut date de début -->
		<tr	ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">
			<th> Date
			<label ng-if="categorie === 'activite'"> de début </label>
			<label ng-if="categorie === 'hebergement'"> d'arrivée </label>
			<label ng-if="categorie === 'transport'"> de départ </label>
			</th>
			<th> <input type="date" name="dateDebut"> </th>
		</tr>

		<!-- Attribut heure de début -->
		<tr	ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">
			<th> Heure
			<label ng-if="categorie === 'activite'"> de début </label>
			<label ng-if="categorie === 'hebergement'"> d'arrivée </label>
			<label ng-if="categorie === 'transport'"> de départ </label>
			</th>
			<th> <input type="time" name="heureDebut"> </th>
		</tr>

		<!-- Attribut lieu de début -->
		<tr	ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">
			<th> Lieu
			<label ng-if="categorie === 'activite'"> de début </label>
			<label ng-if="categorie === 'hebergement'"> d'arrivée </label>
			<label ng-if="categorie === 'transport'"> de départ </label>
			</th>
			<th> <input type="text" name="lieuDebut"> </th>
		</tr>

		<tr ng-show="categorie === 'activite' || categorie === 'hebergement' ||  categorie === 'transport'">
			<th><label> Adresse </label></th>
			<!-- Autocomplétion !TODO -->
			<th><input type="text" name="adresse" value="{{hotelAdresse}}" ng-readonly="subCategorie === 'hotel'"></th>
		</tr>

		<!-- Attribut date de fin -->
		<tr	ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">		
			<th> Date 
			<label ng-if="categorie === 'activite'"> de fin </label>
			<label ng-if="categorie === 'hebergement'"> de départ </label>
			<label ng-if="categorie === 'transport'"> d'arrivée </label>
			</th>
			<th> <input type="date" name="dateFin"> </th>
		</tr>

		<!-- Attribut heure de fin -->
		<tr	ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">		
			<th> Heure
			<label ng-if="categorie === 'activite'"> de fin </label>
			<label ng-if="categorie === 'hebergement'"> de départ </label>
			<label ng-if="categorie === 'transport'"> d'arrivée </label>
			</th>
			<th> <input type="time" name="heureFin"> </th>
		</tr>

		<!-- Attribut lieu de fin -->
		<tr	ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">		
			<th> Lieu
			<label ng-if="categorie === 'activite'"> de fin </label>
			<label ng-if="categorie === 'hebergement'"> de départ </label>
			<label ng-if="categorie === 'transport'"> d'arrivée </label>
			</th>
			<th> <input type="text" name="lieuFin"> </th>
		</tr>

		<!-- Attribut prix -->
		<tr	ng-show="categorie === 'hebergement' || categorie === 'activite' || categorie === 'transport'">
			<th> Coût </th>
			<th> <input type="number" name="prix"> </th>
		</tr>

		<!-- Attribut lien internet -->
		<tr	ng-show="categorie === 'hebergement' || categorie === 'activite'" >
			<th> Lien vers le site </th>
			<th> <input type="text" name="lienInternet"> </th>
		</tr>

		<!-- Transports et Hébergement -->
		<!-- Attribut numReservation -->
		<tr ng-show="categorie === 'hebergement' || categorie === 'transport'">
			<th> Numéro de réservation </th>
			<th> <input type="text" name="numReservation"> </th>
		</tr>

		<tr ng-show="subCategorie === 'metro' || subCategorie === 'train' || subCategorie === 'bus' || subCategorie === 'vol'">
			<th> Numéro de
			<label ng-if="subCategorie === 'metro'"> métro </label>
			<label ng-if="subCategorie === 'train'"> train </label>
			<label ng-if="subCategorie === 'bus'"> bus </label>
			<label ng-if="subCategorie === 'vol'"> vol </label>
			</th>
			<th> <input type="text" name="numeroTransport"> </th>
		</tr>

		<tr ng-show="subCategorie === 'train' || subCategorie === 'bus' || subCategorie === 'vol'">
			<th> Numéro de place </th>
			<th> <input type="text" name="numeroPlace"> </th>
		</tr>

		<tr ng-show="subCategorie === 'train' || subCategorie === 'bus' || subCategorie === 'vol'">
			<th> Compagnie 
			<label ng-if="subCategorie === 'train'"> ferroviaire </label>
			<label ng-if="subCategorie === 'bus'"> de bus </label>
			<label ng-if="subCategorie === 'vol'"> aérienne </label>
			</th>
			<th> <input type="text" name="compagnieTransport"> </th>
		</tr>

		<tr ng-show="categorie === 'activite' || categorie === 'hebergement' ||  categorie === 'transport'">
			<th> Téléphone 
			<label ng-if="categorie === 'transport'"> de la compagnie </label>
			</th>
			<!-- Autocomplétion !TODO -->
			<th> <input type="text" name="numTelephone" ng-model="hotelTelephone" ng-readonly="subCategorie === 'hotel'"> </th>
		</tr>

		<!-- Pour les hotels -->
		<tr ng-show="subCategorie === 'hotel'">
			<th><label> Recherche Hotel</label></th>
			<th><input type="text" ng-model="query"
				ng-model-options="{ debounce: 800 }"
				ng-change="findHotel(query)" autocomplete="off">
				<div id="input-suggestions"
					ng-show="subCategorie === 'hotel' && showResults">
					<div ng-repeat="r in googleResults | limitTo:5"
						ng-click="setHotelInfo(r)" class="input-suggestion">
						{{r.name}}</div>
				</div></th>
		</tr>

		<tr ng-show="subCategorie === 'hotel'">
			<th><label> Nom de l'hôtel</label></th>
			<th><input type="text" name="nomHotel" ng-model="hotelNom" readonly="readonly"></th>		
		</tr>
		
		<tr ng-show="subCategorie === 'hotel'">
			<th><label> Latitude</label></th>
			<th><input type="text" name="latitudeLieu" ng-model="latitudeLieu" readonly="readonly"></th>		
		</tr>
		
		<tr ng-show="subCategorie === 'hotel'">
			<th><label> Longitude</label></th>
			<th><input type="text" name="longitudeLieu" ng-model="longitudeLieu" readonly="readonly"></th>		
		</tr>
		
		

	</table>
	<input type="hidden" name="idvoyage" value="{{voyage.id}}">
	<input type="submit" class="button" value="Ajouter au voyage">
</form>

{{HotelLocation}}
