<div id="addExte" ng-controller="editionActiviteController">
	
<form id="formAct" method="post" action="ServletVoyage?op=editerActivite">
	<table>
		<tr> 
			<th> Nom de l'activité : </th>
			<td ng-if="!edition"> {{activite.nom}} </td>
			<td ng-if="edition"> <input type="text" name="nom" value="{{activite.nom}}"> </td>
		</tr>
		<tr> 
			<th> Description : </th>
			<td ng-if="!edition"> {{activite.description}} </td>
			<td ng-if="edition"> <input type="text" name="description" value="{{activite.description}}"> </td>
		</tr>
		<tr>
			<th> Début : </th>
			<th> </th>
		</tr> 
		<tr>
			<td> Date </td>
			<td ng-if="!edition"> {{activite.dateDebut}} </td>
			<td ng-if="edition"> <input type="text" name="dateDebut" value="{{activite.dateDebut}}"> </td>
		</tr>
		<tr>
			<td> Heure </td>
			<td ng-if="!edition"> {{activite.heureDebut}} </td>
			<td ng-if="edition"> <input type="text" name="heureDebut" value="{{activite.heureDebut}}"> </td>
		</tr>
		<tr>
			<td> Lieu </td>
			<td> {{activite.nomLieuDebut}} </td>
		</tr>
		<tr>
			<th> Fin : </th>
			<th> </th>
		</tr>
		<tr>
			<td> Date </td>
			<td ng-if="!edition"> {{activite.dateFin}} </td>
			<td ng-if="edition"> <input type="text" name="dateFin" value="{{activite.dateFin}}"> </td>
		</tr>
		<tr>
			<td> Heure </td>
			<td ng-if="!edition"> {{activite.heureFin}} </td>
			<td ng-if="edition"> <input type="text" name="heureFin" value="{{activite.heureFin}}"> </td>
		</tr>
		<tr>
			<td> Lieu </td>
			<td> {{activite.nomLieuFin}} </td>
		</tr>
		<tr>
			<th> Coût : </th>
			<td ng-if="!edition"> {{activite.prix}} </td>
			<td ng-if="edition"> <input type="text" name="prix" value="{{activite.prix}}"> </td>
		</tr>
		<tr>
			<th> Lien : </th>
			<td ng-if="!edition"> {{activite.lienInternet}} </td>
			<td ng-if="edition"> <input type="text" name="lienInternet" value="{{activite.lienInternet}}"> </td>
		</tr>
		<tr>
			<th> Numéro de téléphone : </th>
			<td ng-if="!edition"> {{activite.numeroTelephone}} </td>
			<td ng-if="edition"> <input type="text" name="numTelephone" value="{{activite.numeroTelephone}}"> </td>
		</tr>
	</table>
	<input type="hidden" name="idVoyage" value="{{voyage.id}}">
	<input type="hidden" name="idActivite" value="{{activite.id}}">
	<button class="button" ng-if="!edition" ng-click="editable()"> Modifier les informations <img class="activity-action" src="style/img/edit-small.png"> </button>
	<input type="submit" ng-if="edition" value="Valider">
</form>
</div>