<!--  Top  -->
<div id="top" ng-controller="connexionController">
	<!--  Titre du site, sert de retour vers le HOME -->
	<div id="site-title">
		<a> PlanMyTrip </a>
	</div>
	<div id="bandeau-boutons">
		<div id="bandeau-deconnecte" ng-if="!connecte">
			<a href="inscription.jsp" class="top-button blue">Inscription</a> 
			<a href="connexion.jsp" class="top-button green"> Connexion </a>
			<a href="utilisateurs.html" class="top-button blue"> Utilisateurs </a>
		</div>
		<div id="bandeau-connecte" ng-if="connecte">
			<a href="#/friends" class = "top-button lagoon settings"> Mes Amis </a>
			<a href="#/compte" class="top-button lagoon settings"> Mon Compte </a>
			<a href="#/voyages" class="top-button green palm"> Mes Voyages </a>
			<a href="ServletCompte?op=Deconnexion" class="top-button red off"> Déconnexion </a>
			<a href="utilisateurs.html" class="top-button blue"> Utilisateurs </a>
		</div>
	</div>
</div>
<!--  Top fin  -->