input, select, textarea {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid, select.invalid {
  background-color: #ffdddd;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #8b7878;
  border: none;
  border-radius: 50%;
  display: inline-block;
}

.step.active {
  background-color: #685a5a;
}

.step.finish {
  background-color: #403737;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button, input.ajout {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}
input.ajout {
	width:25%;
}
button:hover {
  opacity: 0.8;
}

#prev {
  background-color: #bbbbbb;
}

/* Form ajout activité. */
#input-suggestions {
	background: white;
	border: 1px solid #88bafc;
	border-radius: 5px;
	padding:10px;
}
.input-suggestion {
	width: 100%;
	background-color: #bfbfbf;
	color: black;
	text-decoration: none;
	font-weight: normal;
	padding: 3px;
	cursor: pointer;
	text-align: left;
}