@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Cinzel');

/* BODY */
body {
	margin: 0;
    padding: 0;
    font-family:Arial;
    background: #b8b8b8;
}

/* TOP.HTML + LIEN */
#top {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #8c8c8c;
}

#site-title {
	width:50%;
	font-size:30px;
	font-family: 'Cinzel', serif;
	margin:auto auto auto 20px;
}

#site-title a {
 	text-shadow: 1px 0px #152c51;
	text-decoration:none;
	color:#074396;
	border:none;
}

#site-title:hover, a:hover {
	text-decoration:none;
	color:#3b70ba;
}

#site-title:active, a:active {
	text-decoration:none;
	text-shadow:none;
}

#bandeau-boutons {
	width:50%;
	padding: 0 5px 0 0;
	text-align:right;
}

#bandeau-boutons a:hover, a:active, a:focus {
	text-decoration:none;
	outline:0;
}

.top-button {
    color: #ffffff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration:none;
}
.blue {
	background: #2969aa;
    border: 1px solid #2969aa;
}

.blue:hover {
	background: #ffffff;
	color: #2969aa;
}

.green {
	background: #29a94b;
	border: 1px solid #29a94b;
}

.green:hover {
	background: #ffffff;
	color: #29a94b;
}

.red {
	background: #f7272e;
	border: 1px solid #f7272e;
}

.red:hover {
	background: #ffffff;
	color: #f7272e;
}

.lagoon {
	background: #1a566e;
	border: 1px solid #1a566e;
}

.lagoon:hover {
	background: #ffffff;
	color: #1a566e;
}

.settings {
	background-image: url("img/user.png");
	background-position: 2px 50%;
	background-repeat: no-repeat;	
}

.settings:hover {
	background-image: url("img/user_lagoon.png");
	background-position: 2px 50%;
	background-repeat: no-repeat;
}

.palm {
	background-image: url("img/palm.png");
	background-position: 2px 50%;
	background-repeat: no-repeat;	
}

.palm:hover {
	background-image: url("img/palm_green.png");
	background-position: 2px 50%;
	background-repeat: no-repeat;
}

.off {
	background-image: url("img/off.png");
	background-position: 2px 50%;
	background-repeat: no-repeat;	
}

.off:hover {
	background-image: url("img/off_red.png");
	background-position: 2px 50%;
	background-repeat: no-repeat;
}

/* FOOTER.HTML */
footer {
	position: fixed;
    bottom: 0;
}

/* ################################################################# */
/* CONTAINER */
#container {
	width:80%;
	margin: 30px auto auto auto;
	border-color:#9e9e9e;
	border-style: solid;
    border-width: 1px;
    border-radius: 3px;
	background: #dcdcdc;
}

#title {
	padding: 5px 10px 5px 30px;
	font-size:20px;
	background: #8f624f;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color:#9e9e9e; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

.title-text {
	margin:auto auto auto 1%;
}

#content {
	padding: 20px;
}

#trip {	
	width:100%;
	border-color:#9e9e9e;
	border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom:5px;
}

#trip:hover {
	opacity: 0.8;
}

.rounded-img {
	padding:5px;
}

.rounded-img img {
	border-radius: 50%;
	max-width:100%;
	width:100px;
	height:auto;
}

.trip-description {
	width:80%;
	font-size:14px;
	padding:5px;
}

.trip-description h1 {
	font-size:16px;
	margin:0;
}

.trip-description i {
	font-size:12px;
}

.trip-action-list {
	padding:5px;
	width:10%;
}

.trip-action img {
	height:30px;
	width:auto;
	cursor: pointer;
}

.trip-action img:hover {
	opacity: 0.5;
}

/* Pop-up edition voyage. */
#pop-up {
	width:100%;
	height:100%;
	opacity:.95;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#313131;
	overflow:auto;
}

.formulaire-edition-voyage {
	margin-top: auto;
	text-align:center;
	margin:auto;
	max-width:350px;
	min-width:250px;
	padding:5px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff;
}

.edit-small {
	background:url("img/edit-small.png") no-repeat;
	height:24px;	
	width:24px;
	border:none;
	opacity:0.8;
	cursor:pointer;
}

.edit-small:hover {
	opacity:1;
}

/* Activities */
#activity {	
	width:100%;
	border-color:#9e9e9e;
	border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom:5px;
}

#activity:hover {
	opacity: 0.8;
}

.activity-img img {
	background:grey;
	border-radius: 50%;
	max-width:100%;
	width:90px;
	height:auto;
	opacity:0.8;
}

.activity-description {
	width:80%;
	font-size:14px;
	padding:5px;
	margin:auto;
}

.activity-description h1 {
	font-size:16px;
	margin:0;
}

.activity-description i {
	font-size:12px;
}

.activity-action-list {
	padding:5px;
	width:10%;
}

.activity-action img {
	height:30px;
	width:auto;
	cursor: pointer;
}

.activity-action img:hover {
	opacity: 0.5;
}

.title-form-new-activity  {
	text-align:center;
	width:100%;
	color: #1a566e;
}

.cancel {
	background:url("img/cross.png") no-repeat;
	height:24px;
	border:none;
	width:24px;
	margin:5px;
	padding:5px;
	opacity:0.8;
	cursor:pointer;
}

.cancel:hover {
	opacity:1;
}

.edit-activity {
	width:100%;
	border-color:#9e9e9e;
	border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;    
    margin-bottom:5px;
}

/* Footer */
footer {
	padding: 10px 10px 10px 10px;
	text-align: center;
	bottom: 0;
	width: 100%;
}

/* Form table. */
.form {
	border:none;
	width: 50%;
	margin:auto auto 10px auto;
	text-align:left;
}

.form input {
	width:100%;
}

.form textarea {
	width:100%;
}

.connexion {
	text-align:center;
}



/* Form */
#commentaire, #centerTitle {
	text-align: center;
}

form {
	text-align: center;
    border: none;
    margin: 0;
    outline: 0;
    padding: 7px;
    color: #1a566e;
    margin-bottom: 30px;
}

a.button, .button {
	background: #1a566e;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    border: 1px solid #134051;
    text-decoration:none;
}

a.button:hover, .button:hover {
	background-color: #ffffff;
	border-color: #1a566e;
	color: #1a566e;
}

input[type=text], input[type=password] {
	width: 100%;
}



input.button {
	background: #1a566e;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    border: 1px solid #134051;
    text-decoration:none;
    cursor:pointer;
}

input.button:hover {
	background-color: #ffffff;
	border-color: #1a566e;
	color: #1a566e;
}


select {
	box-shadow: none;
    border-radius: 5px;
	background-color: #ffffff;
	color: #1a566e;
	width: 61%;
}


/* Carousel page d'accueil */
.carousel {
	top: 100%;
	margin:20px auto 20px auto;
	width: 550px;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.middle {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

.caption {
	background: radial-gradient(circle, #424242, rgba(255, 0, 0, 0));
	border-top: solid #302f2f 1px;
	border-bottom: solid #302f2f 1px;
	color: white;
	position: absolute;
	bottom: 20%;
	width: 100%;
	text-align: center;
	padding: 2px 0 2px 0;
}

.items {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 10px;
}

.item {
	background: url('img/item.png') no-repeat;
	width: 16px;
	height: 16px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	opacity:0.5;
	margin:5px;

}

.item:hover {
	opacity:0.8;
}

.next-previous {
	background: none;
	width: 10px;
	height: 100%;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	cursor: pointer;
	opacity: 0.3;
}

.next:hover {
	background: url('img/right.png') no-repeat center center;
}

.previous:hover {
	background: url('img/left.png') no-repeat center center;
}

/* Bouton de suppression. */
.eraseButton {
	background : #ee1d1d;
	padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    border: 1px solid #ee1d1d;
    text-decoration:none;
    cursor: pointer;
    margin-top:3px;
}

.eraseButton:hover {
	background : #ffffff;
	color: #ee1d1d;
}


/* Div warning */
.warning {
	background: #fcfa85;
	border: 1px solid #ffca2b;
	border-radius: 5px;
	padding:10px;
}

/* Div add */
#addExte {
	background: #b3d2fc;
	border: 1px solid #88bafc;
	border-radius: 5px;
	padding:10px;
}

#addInte {
	background: #b3d2fc;
	border-radius: 5px;
	padding:10px;
}

/* Participant */

#liste-utilisateur{
	width:10%;
	border-color:#9e9e9e;
	border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom:5px;
}

#utilisateur {	
	font-weight:bolder;
	font-size:10px;
	color:blue;
	width:100%;
}

.buttonParticipant{
	background:#40A483;
	padding: 7px 20px 7px 20px
	
}


.participants-img img {
	background:grey;
	border-radius: 50%;
	max-width:100%;
	width:90px;
	height:auto;
	opacity:0.8;
}




/* GOOGLE MAP */
#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

/* TABLE */
th {
	text-align: left;
}
