
html, body {
    height: 100%;
    width:100%;
    font-family:"Verdana";
}


/* Container */
#container2 {
	width:70%;
	height:80%;
	margin: 30px auto auto auto;
	border-color:#9e9e9e;
	border-style: solid;
    border-width: 1px;
    border-radius: 3px;
  	display:flex;
  	flex-wrap:wrap;
  	flex-direction:column;
  	
	
}



#title2 {
	padding: 5px 10px 5px 30px;
	font-size:20px;
	background:linear-gradient(to bottom, #d8d8d8, #e5e5e5);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color:#9e9e9e; 
    display: flex;
    flex-grow:1;
    flex-direction: row;
    justify-content: space-between;
}


#content2 {
	width:100%;
	flex-grow:100;
	background-color:black;
	display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:flex-start;
    align-content:flex-start;
	
}

.buttonAmi {
	background:linear-gradient(to bottom, #d8d8d8, #e5e5e5);
	width:27%;
	height:27%;
	border-style:none;
	color: #1a566e;
	margin:15px 0px 0px 20px;
	
}


.buttonAmi:hover {
	
	width:28%;
	height:28%;
	
}

.buttonAmi p {
	font-size:large;
}

.pays {
	text-align:left;
	font-style:italic;
	
}


.prenom {
	text-align:left;
	padding-left:5px;
	display:inline-block;
}

.nom {
	display:inline-block;
	text-align:left;
	padding-left:5px;
	
}

.photo {
	
	
}



.items2 {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 10px;
}

.item2 {
	background: url('img/item.png') no-repeat;
	width: 16px;
	height: 16px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	opacity:0.5;
	margin:5px;

}










