<div id="container">
	<!-- Le titre ici -->
	<div id="title">
		<div class="title-text">Création d'un nouveau voyage</div>
		<a href="#/voyages" class="button"> Retour </a>
	</div>
	<div id="content">
		<!-- Le contenu ici. -->
		<form method="post" action="ServletVoyage?op=validerNouveauVoyage">
			<table class="form">
				<tr> <th> Nom du Voyage <i ng-show="titreColor === 'red'"> (min 4 caractères) </i> </th> </tr>
				<tr> <th> <input style="border: 1px solid #2969aa; border-radius:5px; border-color:{{titreColor}};" type="text" name="titre" ng-model="titre" ng-model-options="{ debounce: 800 }" ng-change="checkTitre(titre)"> </th> </tr>
				<tr> <th> Description </th> </tr>
				<tr> <th> <textarea name="description"> </textarea> </tr>
				<tr> <th> <input ng-hide="titreColor === 'red'" type="submit" class="button" value="Créer"> </th> </tr>
			</table>
		</form>
	</div>
</div>