<div id="container">
	<div id="title">
		<div class="title-text">Une erreur est survenue</div>
		<!-- Le titre ici -->
		<!-- <a href="#" class="button"> Action Facultative </a> -->
	</div>
	<div id="content">
		<!-- Le contenu ici. -->
		{{erreur}}

	</div>
</div>
