<!-- Container -->
<div id="container" >
	
	
	<div id="title">
		<div class="title-text">Vos Amis</div>
	</div>

	<!-- Contenu -->
	<!-- AFFICHAGE DES PARTICIPANTS -->
	<div id="content">
		<div ng-repeat="a in amis">
		<div class="utilisateur">
			{{a.nom}} {{a.prenom}}
			<a href="ServletCompte?op=supprimerAmi&idAmi={{a.idUtilisateur}}" class="cancel">  </a>
		</div>	
		</div>
	</div>
</div>