<!-- Container -->
<div id="container" >
	
	
	<div id="title">
		<div class="title-text">Participants</div>
	</div>

	<!-- Contenu -->
	<!-- AFFICHAGE DES PARTICIPANTS -->
	<div id="content">
		<div ng-repeat="p in participants">
		<div class="utilisateur">
			 {{p.nom}} {{p.prenom}}
		</div>	
		</div>
		
		<h1>Amis</h1>
		<div ng-repeat="a in amis">
		<div class="utilisateur">
			{{a.nom}} {{a.prenom}}
			<a href="ServletVoyage?op=ajouterParticipant&idVoyage={{idVoyage}}&idNouveauParticipant={{a.idUtilisateur}}" class="buttonParticipant"> Nouveau Participant </a>
		</div>	
		</div>
		

	
	</div>
</div>