<div ng-if="voyages.error">
	{{redirect()}}
</div>

<!-- La liste des voyages -->
<div ng-if="!voyages.error && ready" id="container" ng-controller="listerVoyagesController">
	
	<!-- Titre du container et boutons -->
	<div id="title">
		<div class="title-text">Mes Voyages</div>
		<a href="/appliWebAlpha/#/nouveau" class="button">Nouveau Voyage</a>
	</div>
	
	<!-- Contenu -->
	<div id="content">	
		<!--  Affichage de la liste des voyages -->
		<div ng-repeat="v in voyages" id="trip" ng-if="!voyage.titre">

			<div class="rounded-img">
				<img src="style/img/cities/paris.jpg">
			</div>
			<div class="trip-description">
				<!--  titre -->
				<h1>{{v.titre}}</h1>
				<!--  dates -->
				Départ le {{v.dateDebut}} - Arrivée le {{v.dateFin}} <br />
				<!--  description -->
				{{v.description}} <br />
				<!--  informations -->
				Villes visités : !TODO. <br /> Budget : !TODO. <br />
			</div>
			<div class="trip-action-list">
				<div class="trip-action">
					<a href="/appliWebAlpha/#/voyage/{{v.id}}"><img src="style/img/look.png"></a>
				</div>
				<div class="trip-action">
					<a> <img src="style/img/share.png"> </a>
				</div>
				<div class="trip-action">
					<a> <img src="style/img/trash.png"> </a>
				</div>
			</div>
		</div>
	</div>
	<!--  Fin trip -->
</div>
