<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<p> Test </p>

<p>{{userId}}</p>


{{user.nom}}
{{user.prenom}}



<!-- Ajouter en ami -->
<a href="ServletCompte?op=ajouterAmi&idAmi={{userId}}" class="button" ng-show="Bouton"> Ajouter en ami </a>
<p ng-hide="Bouton">Vous etes deja amis avec {{user.prenom}} {{user.nom}} </p>




</body>
</html>