


<div id="container2" ng-controller="utilisateursController" >
	<div id=title2>
		<div class="title-text">Liste des Utilisateurs</div>
	</div>
	<div id="content">
		<a href="#/profil/{{u.idUtilisateur}}" class="buttonAmi" ng-repeat="u in utilisateursPage" > 	
			
			<p class="prenom" ng-hide="u.idUtilisateur === myID" > {{u.prenom}}</p>  
			<p class="nom"  ng-hide="u.idUtilisateur === myID"> {{u.nom}} </p>
			
		</a>
		<div class="items2">
			<button   ng-repeat="l in listePages" ng-click="nouvellePage(l)" class="item2"></button>
		</div>
	</div>
</div>


<br>
<br>
<br>
