<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Utilisateurs</title>
<link rel="stylesheet" type="text/css" href="style/utilisateurs.css">
<link rel="stylesheet" type="text/css" href="style/main.css">
	<!-- Bibliothèque Angular -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/test.js"></script>
<script src="js/main.js"></script>

</head>


<body ng-app="myApp2" ng-controller="connexionController">


<div ng-include="'includes/top.html'"> </div>
	

<div ng-if="connecte" ng-view >

</div>



<div ng-if="!connecte" ng-controller="utilisateursController">
<p> Vous devez être connecté pour ajouter des Amis </p>
	<button class= buttonAmi ng-click="redirection()">Se connecter</button>
</div>




</body>
</html>