<div ng-if="voyage.error">
{{redirect()}}
</div>

<div ng-if="!ready" style="width:100%; text-align:center;">
Chargement ....
</div>

<!-- Container -->
<div ng-if="!voyage.error && ready" id="container" >

	<!-- Pop-up édition voyage -->
	<div id="pop-up" style="{{stylePopUp}}">
		<div class="formulaire-edition-voyage">
			<button class="cancel" ng-click="fermerPopUpEditionVoyage()"></button> <br/>
			Editer mon voyage
			<form method="post" action="{{editionAction}}">
				<table class="form">
					<tr> <th> Nom du Voyage <i ng-show="titreColor === 'red'">(min 4 caractères) </i> </th> </tr>
	 				<tr> <th> <input ng-value="editionTitre" style="border: 1px solid #2969aa; border-radius:5px; border-color:{{titreColor}};" type="text" name="titre" ng-model="titre" ng-model-options="{ debounce: 800 }" ng-change="checkTitre(titre)"> </th> </tr>
	 				<tr> <th> <label> Description </label> </th> </tr>
	 				<tr> <th> <textarea name="description">{{editionDescription}}</textarea> </th> </tr>
					<tr> <th> <input ng-hide="titreColor === 'red'" type="submit" class="button" value="Valider"> </th> </tr>
				</table>
			</form>			
		</div>	
	</div>	
	<!-- Fin pop-up édition voyage -->

	<!-- Titre et bouton Nouvelle Activité -->
	<div id="title">
		<!-- Le titre ici -->
		<div ng-if="voyage.titre" class="title-text">{{voyage.titre}} <button class="edit-small" ng-click="showPopUpEditionVoyage()"></button></div>
		<a href="/appliWebAlpha/#/participants/{{voyage.id}}" class="button"> Participants </a>
		<button class="button" ng-click="afficherFormulaire()" ng-if="voyage.titre" ng-hide="formulaire"> Nouvelle activité </button>
	</div>

	<!-- Contenu -->
	<div id="content" ng-if="voyage.titre">
	
		<!-- AJOUT D'UNE ACTIVITE -->
		<div ng-show="formulaire" id="addExte">
			<button class="cancel" ng-click="afficherFormulaire()"> </button>
			<div ng-include="'includes/formulaireActivite.html'" id="addInte"></div>
		</div>
		
		<!-- AFFICHAGE DES ACTIVITES -->
		<div ng-repeat="a in voyage.activites | orderBy:'dateDebut'">
			<!-- Début Activité -->
			<div id="activity">
				<!-- Image -->
				<div class="activity-img rounded-img"> <img src="{{a.picturePath}}"> </div>
				<!-- Description -->
				<div class="activity-description">
					<h1> {{a.nom}} </h1>
					<i ng-if="a.dateDebut && a.dateFin"> Du {{a.dateDebut}} au {{a.dateFin}} <br/> </i>
					<div ng-if="a.description"> {{a.description}} <br/> </div>
					<div ng-if="a.nomLieuDebut"> à {{a.nomLieuDebut}} <br> </div>
					<div ng-if="a.prix"> Prix : {{a.prix}} <br/> </div>
				</div>
				<!-- Actions possibles -->
				<div class="activity-action-list">
					<!-- Edition -->
					<div class="activity-action"> <img src="style/img/look.png" ng-click="editerActivite(a)"> </div>
					<!-- Suppression -->
					<div class="activity-action"> <img src="style/img/trash.png" ng-click="supprimerActivite(a)"> </div>
				</div>
			</div>
		
			<!-- EDITION D'UNE ACTIVITE -->
			<div ng-show="showFormulaireEdition(a)" class="edit-activity">
	    		<button class="cancel" ng-click="annulerEditionActivite()"> </button> <br>
				<div ng-include="'includes/formulaireEdition.html'"> </div>
			</div>
	
			<!-- SUPPRESSION D'UNE ACTIVITE -->
			<div ng-show="showFormulaireSuppression(a)" class="warning">
	    		<button class="cancel" ng-click="annulerSuppressionActivite()"> </button> <br>
				<div>
					<table class="form">
						<tr> <th> <label> Cette action est irréversible. </label> </th> </tr>
						<tr> <th> <label> Taper "SUPPRIMER" pour confirmer la suppression : </label> </th> </tr>
						<tr> <th> 
						<input style="width:25%" type="text" ng-model="confirmation"> <br/>
			     		<button class="eraseButton" ng-show="confirmation==='SUPPRIMER'" ng-click="actionSupprimerActivite()"> Supprimer </button>
			     		</th> </tr>
		     		</table>
		     	</div>
			</div>
			<!--  Fin Activité -->
		</div>
		
		
		<!-- Affichage de la carte -->
		<h3>Carte du voyage</h3>
		<div style="height:100%; width:100%;" ng-init="initMap()">
        	<div id="map"></div>
    	</div>
   		

		<!-- Bouton de suppression d'un voyage -->
		<button class="eraseButton" ng-show="!showSupprimerVoyage" ng-click="supprimerVoyage()">Supprimer ce voyage</button>
		
		<!-- Encart pour la suppression d'un voyage -->
		<div ng-show="showSupprimerVoyage" class="warning">
    		<button class="cancel" ng-click="annulerSuppressionVoyage()"> </button> <br>
    		<div>
				<table class="form">
					<tr> <th> <label> Cette action est irréversible. </label> </th> </tr>
					<tr> <th> <label> Taper "SUPPRIMER" pour confirmer la suppression : </label> </th> </tr>
					<tr> <th> 
					<input style="width:15%" type="text" ng-model="confirmation"> <br>
					<button class="eraseButton" ng-show="confirmation==='SUPPRIMER'" ng-click="actionSupprimerVoyage()"> Supprimer ce voyage </button>
					</th> </tr>
				</table>
			</div>	
		</div>

	</div>
</div>