<div id="container" >
	<div id="title">
		<div class="title-text">Participants</div>
	</div>

     <div id= "content">
     <form id="ajoutParticip" ng-control = "ajoutParticipant">
      	<input ng-model="query" type="text" class="form-control" placeholder="Rechercher un ami..."> 
     </form>
     </div>
</div>
